<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/wgwg.css">
    <link rel="icon" href="/img/favicon.png">
  </head>
  <body class="{{  (tags or []) | join(' ')  }}">
    {% set header %}
      <header>
        <h1>{{ title }}</h1>
      </header>
    {% endset %}
    {{ header | safe if page.url === '/' }}
    <nav>
      {% set nav = [
          { label: 'Home', url: '/' }
        ]
      %}
      <ul>
        {% for entry in nav %}
          <li>
            {% if entry.url === page.url %}
              {{ entry.label }}
            {% else %}
              <a href="{{ entry.url }}">{{ entry.label }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    {{ header | safe if page.url !== '/' }}
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
